<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JsApiRuntime</key>
	<dict>
		<key>JsApis</key>
		<array>
			<dict>
				<key>jsApi</key>
				<string>getAuthUserInfo</string>
				<key>name</key>
				<string>RVPJsApiHandler4GetAuthUserInfo</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>openSetting</string>
				<key>name</key>
				<string>RVSJsApiHandler4OpenSetting</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>getSetting</string>
				<key>name</key>
				<string>RVPJsApiHandler4GetSetting</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>authorize</string>
				<key>name</key>
				<string>RVPJsApiHandler4Authorize</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>getTBCode</string>
				<key>name</key>
				<string>RVPJsApiHandler4GetTBCode</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>NBComponent.render</string>
				<key>name</key>
				<string>RVKJsApiHandler4ComponentRender</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>NBComponent.remove</string>
				<key>name</key>
				<string>RVKJsApiHandler4ComponentRemove</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>NBComponent.setData</string>
				<key>name</key>
				<string>RVKJsApiHandler4ComponentSetData</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>NBComponent.sendMessage</string>
				<key>name</key>
				<string>RVKJsApiHandler4ComponentSendMessage</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>postWebViewMessage</string>
				<key>name</key>
				<string>RVKJsApiHandler4WebViewPostMessage</string>
			</dict>
		</array>
	</dict>
	<key>PluginRuntime</key>
	<dict>
		<key>Plugins</key>
		<array>
			<dict>
				<key>events</key>
				<array>
					<dict>
						<key>useCapture</key>
						<false/>
						<key>name</key>
						<string>-</string>
					</dict>
				</array>
				<key>scope</key>
				<string>scene</string>
				<key>name</key>
				<string>TRVPluginExtension4PreventFirstRequest</string>
			</dict>
			<dict>
				<key>events</key>
				<array>
					<dict>
						<key>useCapture</key>
						<false/>
						<key>name</key>
						<string>-</string>
					</dict>
				</array>
				<key>scope</key>
				<string>scene</string>
				<key>name</key>
				<string>TRVPluginExtension4PreRenderWeex</string>
			</dict>
			<dict>
				<key>events</key>
				<array>
					<dict>
						<key>useCapture</key>
						<false/>
						<key>name</key>
						<string>-</string>
					</dict>
				</array>
				<key>scope</key>
				<string>session</string>
				<key>name</key>
				<string>TRVMNNPlugin</string>
			</dict>
		</array>
	</dict>
	<key>ExtensionRuntime</key>
	<dict>
		<key>Extensions</key>
		<array/>
	</dict>
	<key>ComponentRuntime</key>
	<dict>
		<key>Components</key>
		<array/>
	</dict>
</dict>
</plist>
