<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JsApiRuntime</key>
	<dict>
		<key>JsApis</key>
		<array>
			<dict>
				<key>name</key>
				<string>RVTJsApi4PostMessage</string>
				<key>jsApi</key>
				<string>postMessage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTJsApi4CreateWorker</string>
				<key>jsApi</key>
				<string>createWorker</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTJsApiHandler4MultiWorkerPostMessage</string>
				<key>jsApi</key>
				<string>multiWorkerPostMessage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTJsApiHandler4MultiWorkerTerminate</string>
				<key>jsApi</key>
				<string>multiWorkerTerminate</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTJsApi4RegisterWorker</string>
				<key>jsApi</key>
				<string>registerWorker</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>RVKExtensionJsapi</string>
				<key>name</key>
				<string>RVKExtensionJsapi</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>internalAPI</string>
				<key>name</key>
				<string>RVPJsApiHandler4InternalAPI</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPJsApiHandler4GetAuthCode</string>
				<key>jsApi</key>
				<string>getAuthorize</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPJsApiHandler4GetAuthCode</string>
				<key>jsApi</key>
				<string>getBusinessAuth</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPJsApiHandler4GetAuthCode</string>
				<key>jsApi</key>
				<string>getComponentAuth</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPJsApiHandler4GetAuthCode</string>
				<key>jsApi</key>
				<string>getAuthCode</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVUJsApiHandler4TinyRpcForAppX</string>
				<key>jsApi</key>
				<string>appxrpc</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVUApiHandler4Rpc</string>
				<key>jsApi</key>
				<string>rpc</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPJSApiHandler4ChangeTab</string>
				<key>jsApi</key>
				<string>switchTab</string>
			</dict>
		</array>
	</dict>
	<key>PluginRuntime</key>
	<dict>
		<key>Plugins</key>
		<array>
			<dict>
				<key>name</key>
				<string>RVPlugin4PagePerformance</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPlugin4TinyAppPerformance</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTPlugin4ConcurrentWorker</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTPlugin4JSCCallHandler</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTPlugin4TinyAppParam</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTPlugin4TinyAppResource</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTPlugin4Session</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVAPlugin4EventDispatch</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>*.*</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVKPlugin4JSApiDispatch</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>invocation.start</string>
						<key>useCapture</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVSPlugin4JsApiPermission</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVSPlugin4SessionBindVariables</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVUPlugin4Authorization</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTPlugin4Component</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPPlugin4TabBar</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVDPlugin4Debug</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVDRemoteDebugPlugin4NetworkInfo</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVDRemoteDebugPlugin4JSApiLog</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVAPlugin4Canvas</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPPlugin4WebSocket</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>RVDPlugin4Bugme</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>ExtensionRuntime</key>
	<dict>
		<key>Extensions</key>
		<array>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4HideKeyboard</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4ScreenOrientation</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVLJsApiHandler4HandleLoggingAction</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVAExtension4WKCrash</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVKExtension4Screen</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPExtension4Shake</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPExtension4Wifi</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4Wifi</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4BLE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4Beacon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TRVSBridgeExtension4TBSessionKey</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TRVSJsApiHandler4TBSessionKey</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4LocationPicker</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4CityPicker</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4WifiInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4PhoneContact</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4Shake</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4Screen</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4DeviceMotion</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4Vibrate</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4PhoneCall</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4Battery</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4Clipboard</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4Jailbroken</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4SystemInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4CarrierName</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4PushWindow</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4PopWindow</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4Notify</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4ShortCut</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtenion4Environment</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4GetNetworkType</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4PackageManager</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4CheckJSAPI</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4AuthGuide</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4SharedData</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4GetFileInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4SaveFile</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4GetSavedFileInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4GetSavedFileList</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4RemoveSavedFile</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4ChooseFileFromDisk</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4SceneStackInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4AccountManager</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVDBridgeExtension4DebugConsole</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVDBridgeExtension4RemoteDebug</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4WebSocket</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4TradePay</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4BLEPeripheral</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPExtension4BLEPeripheral</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4StartAudioRecord</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4StopAudioRecord</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4PauseAudioRecord</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4ResumeAudioRecord</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4CancelAudioRecord</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVSBridgeExtension4Permission</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTBridgeExtensionInitialTraceDebug</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTBridgeExtensionPostMethodTrace</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTExtensionTraceDebugApp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTExtensionTraceDebugInvocation</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVTBridgeExtension4Worker</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4Tabbar</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RVPBridgeExtension4FileSystemManager</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TinyTestExtension</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4Cdp</string>
			</dict>
			<dict>
                <key>name</key>
                <string>RVPJsApiGetLocaleInfo</string>
            </dict>
            <dict>
                <key>name</key>
                <string>RVPJsApiGetLayoutDirection</string>
            </dict>
		</array>
	</dict>
</dict>
</plist>
